SUPABASE_URL="YOUR_SUPABASE_URL"
SUPABASE_ANON_KEY="YOUR_SUPABASE_ANON_KEY"
SUPABASE_BUCKET="YOUR_SUPABASE_BUCKET"
SUPABASE_WISHES_TABLE="YOUR_TABLE_NAME"
GOOGLE_FORM_ACTION="YOUR_GOOGLE_FORM_ACTION"
GOOGLE_FORM_FIELD_FULL_NAME="YOUR_GOOGLE_FORM_FIELD_FULL_NAME"
GOOGLE_FORM_FIELD_PHONE="YOUR_GOOGLE_FORM_FIELD_PHONE"
GOOGLE_FORM_FIELD_WISH="YOUR_GOOGLE_FORM_FIELD_WISH"
GOOGLE_FORM_FIELD_IMAGE_URL="YOUR_GOOGLE_FORM_FIELD_IMAGE_URL"
